{{ define "inicio" }}
{{template "cabecera"}}
<a name="" id="" class="btn btn-primary" href="/registrar" role="button">REGISTRAR</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CORREO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>GUSTAVO</td>
            <td>GUSTAVO@GMAIL.COM</td>
            <td>EDITAR | BORRAR</td>
        </tr>
    </tbody>
</table>

{{template "pie"}}      
 {{ end }}